
/**
 * Generates grid classes that use flexbox.
 *
 * Classnames will be breakpoint name concatenated with
 * the column width (as fraction of $columns) so for
 * example, an element might have class="d12 m6 x4"
 * and it will act accordingly in different screens.
 *
 * @param {string} $prefix  Name of the breakpoint.
 * @param {int}    $columns Amount of columns. Optional, defaults to 12.
 */
@mixin createColumns($prefix, $columns: 12) {
  .col {
    display: flex;
    flex-direction: column;
    padding: .3rem;
  }

  @for $i from 1 through $columns {
    .#{$prefix}#{$i} {
      @if $prefix == d {
        @extend .col;
      }

      flex: 0 1 percentage($i / $columns);
    }
  }
}
