$padding: .7rem;
$transition: .15s ease-in-out;

.file-input, .input-float-label {
  margin-top: 1.8em;
  margin-bottom: 1em;
  width: 100%;
  position: relative;
  background-color: white;
}

.input-float-label {
  input {
    padding: $padding;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
    width: 100%;
    
    &::placeholder {
      opacity: 0;
    }

    // If the input is empty, show the label as a placeholder
    &:placeholder-shown + label {
      bottom: $padding;
      opacity: .7;
      font-size: 1em;
    }
  }

  label, input:focus + label {
    pointer-events: none;
    position: absolute;
    left: $padding;
    bottom: 105%;
    opacity: 1;
    font-size: .85em;
    transition:
      bottom $transition,
      opacity $transition,
      font-size $transition;
  }
}

.file-input {
  padding: $padding;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 1em;
  cursor: pointer;

  [type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &.hasFiles + label {
      position: absolute;
      left: $padding;
      bottom: 105%;
      opacity: 1;
      font-size: .85em;
      transition:
        bottom $transition,
        opacity $transition,
        font-size $transition;
    }
  }

  label {
    pointer-events: none;
    opacity: .7;
    bottom: $padding;
  }
}
