@import '_gridMixins';
@import '_colors';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

// Doesn't include "d" since it gets styles from global scope
$breakpoints: (
  "s": 520px,
  "m": 768px,
  "l": 1024px,
  "x": 1366px
);

@include createColumns(d);

.wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0 6px;
}

@each $name, $bp in $breakpoints {
  @media (min-width: $bp) {
    @include createColumns($name);
    .wrap { width: $bp * .9 }
  }
}

.btn {
  margin: .7em;
  padding: .8em 1.25em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: $white;
  color: $primary-color;
  box-shadow: 0 2px 8px 2px rgba(0,0,0,.1);
  transition:
    transform .2s ease-in-out,
    box-shadow .2s ease-in-out;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 12px 4px rgba(0,0,0,.1);
  }
  
  &-primary {
    @extend .btn;
    background-color: $primary-color;
    color: $white;
  }
}

a {
  color: $primary-color;

  &:hover {
    color: lighten($primary-color, 10%);
  }
}

.notifs {
  @media screen and (min-width: map-get($breakpoints, "s")) {
    position: relative;
  }

  .expandable {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 1rem;
    background-color: $gray;
    border-radius: 4px;

    
    @media screen and (min-width: map-get($breakpoints, "s")) {
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 400px;
    }

    &.active {
      display: flex;
      z-index: 999;
    }

    ul {
      list-style: none;
    }

    li {
      width: 100%;
      padding: .7rem;
    }
  }
}

img {
  width: 100%;
}
