@import '_variables';

.ListingHolder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1.5em;
}

.listingPreview {
    img {
        max-height: 160px;
        object-fit: cover;
    }
    p {
        padding: .7rem 0;
    }
    .btn-primary {
        font-size: .75rem;
    }
}
