@import '_colors';

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  // top: 0; left: 0;
  // bottom: 0; right: 0;
  // overflow-y: scroll;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition:
    visibility .2s ease-in-out,
    opacity .2s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }
  
}

.modal {
  position: relative;
  background: $white;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
}

.btn-close {
  $size: 30px;
  $topRight: 20px;
  $red: rgb(221, 47, 59);

  all: unset;

  position: absolute;
  top: $topRight;
  right: $topRight;
  width: $size;
  height: $size;
  cursor: pointer;

  &::before, &::after {
    height: 4px;
    width: $size;
    position: absolute;
    border-radius: 2px;
    background-color: rgb(192, 192, 192);
    content: '';
    transition: all .3s ease-in;
  }

  &::before {
    transform: rotate(45deg);
  }
  
  &::after {
    transform: rotate(-45deg);
  }

  &:hover, &:focus {
    &::before {
      transform: rotate(-45deg);
      background-color: $red;
    }
    &::after {
      transform: rotate(45deg);
      background-color: $red;
    }
  }
}
