@import '_colors';

.navbar {
    width: 100%;

    nav {
        display: flex;
    
        a {
            color: $primary-color;
            padding: .5em;
    
            &:hover {
                color: lighten($primary-color, 20%);
            }
        }
    }
}
