@import '_colors';

.navbar {
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    padding: .5em;

    a, .btn, .btn-primary {
      margin: 0 .5em;
    }

    a {
      color: $primary-color;

      &:hover {
        color: lighten($primary-color, 10%);
      }
    }
  }
}
