@import '_variables';

.notifs {
  @media screen and (min-width: map-get($breakpoints, "s")) {
    position: relative;
  }

  .expandable {
    display: none;
    flex-direction: column;
    top: 140%;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    background-color: $white;
    border-radius: 4px;
    box-shadow:
      0 -6px 10px rgba(250, 250, 250, 1),
      0px 4px 12px rgba(0, 0, 0, 0.15);
    
    @media screen and (min-width: map-get($breakpoints, "s")) {
      position: absolute;
      left: -100%;
      transform: translateX(-50%);
      width: 300px;
      height: 400px;
    }

    &.active {
      display: flex;
      z-index: 999;
    }

    ul {
      list-style: none;
    }

    li {
      width: 100%;
      padding: .7rem;
    }
  }
}

[data-notifs]::before {
  content: attr(data-notifs);
  position: absolute;
  display: flex;
  left: -5px;
  top: -5px;
  background-color: rgb(230, 53, 53);
  color: white;
  font-size: 10px;
  padding: .3em;
  border-radius: 50%;
}
